<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./static/header.css">
    <title>Header</title>
</head>

<body>
    <header class="HeaderForSchedular">
        <a href="/"><img src="../../static/images/logo.png" alt="logo"></a>
        <aside>
            % if UserInfo:
                <a href="/profilepage"><img src="../static/images/profile_pictures/{{ UserInfo[5] }}" alt="profile" class="profile"></a>
                <img src="../../static/images/hamburger-menu-4.png" alt="hamburger menu" class="hamburger">
            % else:
                <a href="/register" class="registera_button">Registrera</a>
                <a href="/login" class="login_button">Logga In</a>
            % end
        </aside>
    </header>
    <!-- popup for menu -->
    <div class="BackgroundMenu"></div>
    <div class="ConatinerMenu">
        <ul>
            <li><a href="/profilepage">Profil</a></li>
            <li><a href="/homepage">Schema</a></li>
            <li><a href="">Instuktioner</a></li>
        </ul>
    </div>
</body>

<script>
    let HamburgerMenu = document.querySelector('.hamburger')
    let BackgroundMenu = document.querySelector('.BackgroundMenu')
    let ConatinerMenu = document.querySelector('.ConatinerMenu')

    HamburgerMenu.addEventListener('click', function() {
        BackgroundMenu.classList.add('view')
        ConatinerMenu.classList.add('view')
    })

    BackgroundMenu.addEventListener('click', function() {
        BackgroundMenu.classList.remove('view')
        ConatinerMenu.classList.remove('view')
    })
</script>

</html>