<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/first-site.css" media="screen">
    <title>First-Site</title>
    <link href="/./static/images/logga2.png" rel="icon">

</head>
<body>
    <div id="wrapper">
        <div id="headerdiv">
            <header>
                <img src="/static/images/logo.png" alt="our logo">
            </header>
        </div>
        <div id="sectiondiv">
            <section>
                <div class="rubriker">
                    <h1>Improve, One click at a time.</h1>
                    <h2>Get started today.</h2>
                </div>
                <div id="alternativ">
                    <!-- Registreringsformulär -->
                    <a href="#" id="modalBtn" class="btn">Skapa ett konto</a>
                    <div id="minmodal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <form action="/register" method="post" id="register">
                                % if "email_already_registered" in error.keys():
                                <p class="error register-error">{{error["email_already_registered"]}}</p>
                                % end                                
                                <label for="firstname">Förnamn: </label><br>
                                <input type="text" name="firstname" id="förnamn" required><br>
                                <label for="lastname">Efternamn: </label><br>
                                <input type="text" name="lastname" id="efternamn" required><br>
                                <label for="email">Mail: </label><br>
                                <input type="email" name="email" id="mail" required><br>
                                <label for="password">Lösenord: </label><br>
                                <input type="password" name="password" id="lösenord" required><br>
                                <p id="policy">Genom att registrera dig godkänner du <span style="color: #72A0C1;">användarvillkoren</span> och <span style="color: #72A0C1;"> sekretesspolicyn</span>, däribland <span style="color: #72A0C1;">användning av cookies.</span></p>
                                <button type="submit" class="btn">Skapa konto</button>
                            </form>
                            <div class="already-have">
                                <p>Har du redan ett konto hos Schedular? <a href="/login">Logga in!</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Inloggningsformulär -->
                    <div id="ellersträck">
                        <div class="side-div">____________________</div>
                        <p id="eller">alternativt</p>
                        <div class="side-div">____________________</div>
                    </div>
                    <a href="#" id="modalBtn2" class="btn">Logga in</a>
                    <div id="minmodal2" class="modal">
                        <div class="modal-content">
                            <span class="close2">&times;</span>
                            <form action="/login" method="post">
                                %if "wrong_password" in error.keys():
                                <p  class="error login-error">{{error["wrong_password"]}}</p>
                                % end
                                <label for="email">
                                    Email:
                                    <input type="email" name="email" id="email" required>
                                </label>
                                <label for="password">
                                    Password:
                                    <input type="password" name="password" id="password" required>
                                </label>
                                <div class="form-actions">
                                    <button type="submit" class="btn" id="loginbtn">Logga in</button>
                                    <a href="/forgot-password" class="forgot-password" style="color: #0066b2;">Glömt lösenord?</a>
                                </div>
                            
                            </form>
                            <!-- Inloggningsformulär tar slut-->

                            <div class="already-have">
                                <p id="policy">Genom att registrera dig godkänner du <span style="color: #72A0C1;">användarvillkoren</span> och <span style="color: #72A0C1;">sekretesspolicyn</span>, däribland <span style="color: #72A0C1;">användning av cookies.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
    
    <footer id="footerdiv">
        <p> Om Hämta Schedular-appen Hjälpcenter Användarvillkor Integritetspolicy Cookie-policy
            Tillgänglighet Annonsinfo Blogg Arbetstillfällen Varumärkesresurser
            Annonsering Marknadsföring Schedular för företag Utvecklare
            Katalog Inställningar © 2024 Schedular Corp.</p>
    </footer>
</body>
</html>
