<!DOCTYPE html>
<html lang="sv">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/forgot.css"> 
   <title>Återställ lösenord</title>
</head>
<body>
    <div id="wrapper">
        <div id="headerdiv">
            <header>
                <img src="/static/images/Skärmbild (58).png" alt="our logo">
            </header>
        </div>
        <div id="sectiondiv">
            <section>
                <h1>Återställ lösenord</h1>
                <form action="/forgot-password" method="post" class="password-form">
                    %if new:
                    <p class="new"> {{new}}</p>
                    %end
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">Nytt lösenord:</label>
                        <input type="password" name="new_password" id="new_password" required>
                    </div>
                    <button type="submit" class="btn">Återställ lösenord</button>
                </form>
            </section>
        </div>
    </div>
    <footer id="footerdiv">
        <p> Om Hämta Schedular-appen Hjälpcenter Användarvillkor Integritetspolicy Cookie-policy
            Tillgänglighet Annonsinfo Blogg Arbetstillfällen Varumärkesresurser
            Annonsering Marknadsföring Schedular för företag Utvecklare
            Katalog Inställningar © 2024 Schedular Corp.</p>
    </footer>
</body>
</html>
