<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHEDULAR</title>
    <link href="/./static/homepage.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> -->
    <!--för Navbar-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--för font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <!--för kalendern-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <link href="/./static/images/logga2.png" rel="icon">
</head>

<body>

    <header class="HeaderForSchedular">
        <a href="/"><img src="../../static/images/logo.png" alt="logo"></a>
        <h1>SCHEDULAR</h1>
        <aside>
            <div id="dark-light">
                <button id="mode-toggle" onclick="toggleDarkMode()">Ändra utseende</button>
            </div>
            % if UserInfo:
            <a href="/profilepage"><img src="../static/images/profile_pictures/{{ UserInfo[5] }}" alt="profile"
                    class="profile"></a>
            <img src="../../static/images/hamburger-menu-4.png" alt="hamburger menu" class="hamburger">
            % else:
            <a href="/register" class="registera_button">Registrera</a>
            <a href="/login" class="login_button">Logga In</a>
            % end
        </aside>
    </header>
    <!-- popup for menu -->
    <div class="BackgroundMenu"></div>
    <div class="ConatinerMenu">
        <ul>
            <li><a href="/profilepage">Profil</a></li>
            <li><a href="/homepage">Kalender</a></li>
            
        </ul>
    </div>
    <section class="calendar">
        <div class="button_for_small_screen">
            <label for="open_close" class="button">Lägg till händelse</label>
            <input type="checkbox" name="open_close" id="open_close">
        </div>
        <aside>
            <form action="/create_event" method="post">

                <label for="event_start_date">Start datum</label>
                <input type="date" name="event_start_date" id="event_date" required>

                <label for="event_end_date">Slut datum</label>
                <input type="date" name="event_end_date" id="event_date" required>

                <label for="event_title">Aktivitets titel</label>
                <input type="text" name="event_title" id="event_title" placeholder="Titel" required>

                <select name="event_priority" id="event_priority">
                    <option value="high">Hög prioritet</option>
                    <option value="medium">Medium prioritet</option>
                    <option value="low">Låg prioritet</option>
                </select>

                <select name="event_category" id="event_category">
                    <option value="other">Övrigt</option>
                    <option value="school">Skola</option>
                    <option value="gym">Hälsa</option>
                    <option value="spare_time">Fritid</option>
                </select>

                <label for="event_description">Beskrivning</label>
                <textarea name="event_description" id="event_description" cols="10" rows="5"
                    placeholder="Beskriv aktiviteten..."></textarea>

                <label for="events_start_time">Start tid</label>
                <input type="time" name="events_start_time" id="events_start_time" required>

                <label for="events_end_time">Slut tid</label>
                <input type="time" name="events_end_time" id="events_end_time" required>

                <button type="submit">Lägg till</button>
            </form>
        </aside>
        <article>
                <div id="calendar"></div>
        </article>
    </section>

    <section class="BackgroundForPopupEvents"></section>
    <aside class="ContainerForPopupEvents">
        <form action="/redigera/event" method="post">

            <input type="text" name="event_id" id="event_id" hidden>

            <button type="submit">Visa händelse information</button>
        </form>
    </aside>
    <script src="/static/js/homepage.js"></script>
    <script src="/static/js/script.js"></script>

</body>

</html>