<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Demo</title>
</head>
<body>
    
    <header>

        <h2> Välkommen till vår demo</h2>
    </header>

    <section class="container">

        <form action="/logIn" method="post">

        {% if failed_login %}
        <h1>Felaktig email eller lösenord</h1>
        {% else %}
        <h1> login </h1>
        {% endif %}
        
            Email:  
            <input type="email" id ="email" name="email" required>
            Lösenord:
            <input type="password" id="password" name="password"required>


            <input type="submit" value="Logga in" class="button">
        </form>

    </section>
</body>
</html>