<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - Schedular</title>
    <link href="static/style.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <!-- form for login -->
        <form action="/login" method="post">
            <label for="email">
                Email:
                <input type="email" name="email" id="email" required>
            </label>
            <label for="password">
                Password:
                <input type="password" name="password" id="password" required>
            </label>
            <input type="submit" value="Login" class="button">
        </form>
    </div>
</body>
</html>