<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./static/profilepage.css">
    <!-- Google Fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <title>SCHEDULAR</title>

    <link href="/./static/images/logga2.png" rel="icon">

</head>

<body>
   
    % include components/header.html

    <section class="settings">
        <article>
            <img src="../static/images/profile_pictures/{{ UserInfo[5] }}" alt="profile Picture">
            <h1>{{ UserInfo[1] }} {{ UserInfo[2] }}</h1>
            <form action="/upload/profile/picture" method="post" enctype="multipart/form-data">
                <label for="ProfilePicture">Ladda upp bild</label>
                <input type="file" name="ProfilePicture" id="ProfilePicture">
                <button type="submit">Uppdatera</button>
            </form>
            <div class="line"></div>
            <a href="/logout">Logga Ut</a>
        </article>
        <div class="line"></div>
        <aside>
            <h2>Inställningar</h2>
            <form action="/update/user/info" method="post">
                <label for="FirstName">Förnamn</label>
                <input type="text" value="{{ UserInfo[1] }}" name="FirstName" id="FirstName">
                <label for="LastName">Efternamn</label>
                <input type="text" value="{{ UserInfo[2] }}" name="LastName" id="LastName">
                <label for="Email">Email</label>
                <input type="email" value="{{ UserInfo[3] }}" name="Email" id="Email">
                <button type="submit">Uppdatera min information</button>
            </form>
        </aside>
    </section>

</body>

</html>