<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register-login.css">
    <title>Schedular - Registrera</title>
</head>
<body>
    <div id="wrapper">
        <div class="sec-container">
            <div id="headerdiv">
                <header>
                    <img src="/static/images/Skärmbild (58).png" alt="Logo for the project" id="logo">
                </header>
            </div>

            <section id="section-container">
                <h1>Skapa ett konto på Schedular</h1>
                <div id="form-container">
                    <form action="/register">
                        <label for="förnamn">Förnamn: </label><br>
                        <input type="text" name="förnamn" id="förnamn" required><br>
                        <label for="efternamn">Efternamn: </label><br>
                        <input type="text" name="efternamn" id="efternamn" required><br>
                        <label for="mail">Mail: </label><br>
                        <input type="email" name="mail" id="mail" required><br>
                        <label for="lösenord">Lösenord: </label><br>
                        <input type="password" name="lösenord" id="lösenord" required><br>
                        <button><a href="/login" class="btn">Logga in</a></button>
                    </form>
                    <div class="already-have">
                        <p>Har du redan ett konto hos Schedular? <a href="/login">Logga in!</a></p>
                    </div>
                    <p id="policy">Genom att registrera dig godkänner du <span
                            style="color: #72A0C1;">användarvillkoren</span> och <span
                            style="color: #72A0C1;">sekretesspolicyn</span>, däribland <span
                            style="color: #72A0C1;">användning av cookies.</span></p>
                </div>
            </section>
        </div>


        <!-- FOOTER -->
        <footer id="footerdiv">
            <p> Om Hämta Schedular-appen Hjälpcenter Användarvillkor Integritetspolicy Cookie-policy
                Tillgänglighet Annonsinfo Blogg Arbetstillfällen Varumärkesresurser
                Annonsering Marknadsföring Schedular för företag Utvecklare
                Katalog Inställningar © 2024 Schedular Corp.</p>
        </footer>
    </div>

    <script src="/static/js/#"></script>
</body>
</html>