body {
    background-color: white;
    /* position: relative; */
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
    width: 100%;

}

#wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

}

#headerdiv {
    /* flex-grow: 1; */
    height: 100px;
    margin-left: 70px;
}


#sectiondiv {
    
    /* width: 600px; */
    /* height: 500px; */
    background-color: white;
    border-radius: 30px;
    padding: 0px;
    /* margin-top: 50px; */
    margin-right: 600px;

}

#footerdiv {
    width: 100px;
}

img {
    padding: 100px;
    margin-top: 10px;
    width: 200px;
    border-radius: 100%;
    box-shadow: 5px 5px lightblue;
}

h1 {
    inline-size: 60%;
    font-size: 90px;
    height: 150px;
}

h2 {
    font-size: 40px;
    height: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

h1,
h2 {
    margin-left: 120px;
}

#alternativ { 
    margin-left: 67px;
    margin-top: 30px;
}

#eller {
    padding: 20px;
    padding-right: 30px;

}

#ellersträck {
    display: flex;
    margin-right: 170px;
    margin-left: 170px;
}


.side-div {
    position: relative;
    width: 200px;
    margin-right: 10px;
    overflow: hidden;
    color: white;

}

.side-div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(200, 200, 200) 0%, rgb(175, 194, 198) 90%);
}



#footerdiv {
    /* position: fixed; */
    /* bottom: 0; */
    inline-size: 90%;
    color: gray;
    font-size: 20px;
    text-align: center;
    z-index: 999;
    word-spacing: 10px;
    margin: 0 auto;
    padding-top: 280px;
    /* margin-left: 180px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#policy {
    width: 550px;
    text-align: center;
    margin-left: 140px;
}


.btn  { 
    border: solid black;
    border-radius: 15px;
    border-width: 1px;
    text-align: center;
    font-size: larger;
    box-shadow: 5px 5px lightblue;
    overflow: hidden; 
    position: relative; 
    font-family: "Playfair Display";
    background-color: white;
    display: block;
    height: 40px;
    width: 700px;
    margin-left: 50px;

}

.btn:hover {
    scale: 1.1;
}

.btn::after{
    content: '';
    background: lightblue;
    width: 0;
    position: absolute;
    inset: 0;
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1); 
    z-index: -1;    
    border-radius: 15px;
}

.btn:hover::after {
    width: 100%;
}

a { 
    text-decoration: none;
    color: black;
    padding-top: 20px;
}