body {
    background-color: white;
    /* position: relative; */
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
    /* width: 100%; */

}

/* MAIN div container */
#wrapper {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    /* flex-direction: row; */
    padding: 0;
    margin: 0;

}

#wrapper #headerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
    padding-top: 10vh;
    margin: 0 70px;
}

#wrapper #headerdiv header {
    border-radius: 100%;
    /* box-shadow: inset 0 0 0 5px lightblue; <- se om mira tycker om den såhär istället */
    box-shadow: 5px 5px lightblue;
}

#wrapper #headerdiv header img {
    /* padding: 10px; */
    border-radius: 100%;
    width: 300px;
    height: auto;
}

#sectiondiv {
    width: 70%;
    /* width: 600px; */
    /* height: 500px; */
    /* background-color: peru; */
    /* border-radius: 30px; */
    padding: 0px;
    /* margin-top: 50px; */
    /* margin-right: 100px; */

}

#sectiondiv section h1 {
    inline-size: 60%;
    font-size: 90px;
    height: 150px;
}

#sectiondiv section h2 {
    font-size: 40px;
    height: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* these are connected with the #sectiondiv */
h1,
h2 {
    margin-left: 120px;
}

#sectiondiv section #alternativ { 
    margin-left: 67px;
    margin-top: 30px;
}

#alternativ #ellersträck {
    display: flex;
    /* margin-right: 170px; */
    margin-left: 140px;
}

#ellersträck .side-div {
    position: relative;
    width: 200px;
    margin-right: 10px;
    overflow: hidden;
    color: white;
}

#ellersträck .side-div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(200, 200, 200) 0%, rgb(175, 194, 198) 90%);
}

#ellersträck #eller {
    padding: 20px;
    padding-right: 30px;
}

#alternativ #policy {
    width: 550px;
    text-align: center;
    margin-left: 140px;
}

#alternativ a { 
    text-decoration: none;
    color: black;
    padding-top: 20px;
}

#alternativ .btn  { 
    border: solid black;
    border-radius: 15px;
    border-width: 1px;
    text-align: center;
    font-size: larger;
    box-shadow: 5px 5px lightblue;
    overflow: hidden; 
    position: relative; 
    font-family: "Playfair Display";
    background-color: white;
    display: block;
    height: 40px;
    width: 700px;
    margin-left: 50px;

}

#alternativ .btn:hover {
    scale: 1.1;
}

#alternativ .btn::after{
    content: '';
    background: lightblue;
    width: 0;
    position: absolute;
    inset: 0;
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1); 
    z-index: -1;    
    border-radius: 15px;
}

#alternativ .btn:hover::after {
    width: 100%;
}

/* FOOTER */
#footerdiv {
    width: 100%;
    /* position: fixed; */
    /* bottom: 0; */
    inline-size: 90%;
    color: gray;
    font-size: 20px;
    text-align: center;
    z-index: 999;
    word-spacing: 10px;
    margin: 0 auto;
    padding-top: 200px;
    /* margin-left: 180px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}