body{
  padding: 0px;
  margin: 0px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:100;
  font-style: normal;
}

header {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ADD8E6;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  align-items: center;
}

img  {
  width: 8%; 
  height: auto; 
}


.img-container #profilepic { 
  border-radius: 100%;
  width: 6%;
  margin-left: 92%;
  margin-top: 1%;
}

#container  {
  display: flex;
  margin-top: 50px;
}

main {
  width: 300px;
  height: 580px;
  display: inline-block;
  margin-left: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-top: 2.5%;
}

#tasks > .block label {
  margin-bottom: 5px;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.block > #event_date{
  border-radius: 5px;
  border: solid grey;
  padding: 2%;
  margin-top: 2%;
}

.block > #event_title {
  border-radius: 5px;
  border: solid grey;
  padding: 2%;
  margin-top: 2%;

}

.block textarea{
  max-width: 250px;
  max-height: 150px;
  border-radius: 5px;
  border: solid grey;
  padding: 2%;
  margin-top: 2%;
}

.block label{
  font-weight: bold;
  margin-left: 1%
}

.block #user_invite {
  border-radius: 5px;
  border: solid grey;
  padding: 2%;
  margin-top: 2%;

}

#list{
  padding-left: 7%;
}

#list #event_category {
  border: solid grey
} 

#list #event_priority {
  border: solid grey
} 

#list select{
  margin-right: 10px;
  border-radius: 5px;
  padding: 0.5%;
}

aside{
  width: 1300px;
  margin-left: 100px;
  margin-right: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}

aside #calendar{
  padding: 20px;
}

/*Kalendern start*/
#calendar{
  width: 100%;
  height: 650px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}
/*Kalendern slut*/



/* button https://getcssscan.com/css-buttons-examples*/
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-top: 15%;
  margin-left: 60%;  

}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
/*buttton end*/


/*Översikts knappen start*/
.hamburger {
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}
.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.line {
  transition: 0.5s;
  stroke-width: 6px;
  stroke: black;
}
.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}
.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}
.lineMid {
  stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
  stroke: crimson;
}
.hamburger .checkbox:checked + svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
  stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}
/*Översiktsknappen slut*/