.settings {
    width: 90%;
    height: 600px;
    margin: 50px auto 50px auto;
    display: flex;
    gap: 20px;
}

.settings > .line {
    height: 100%;
    width: 2.5px;
    border-radius: 5px;
    background-color: #ADD8E6;
}

.settings > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
    margin: 50px 0px;
}

.settings > article > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.settings > article > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.settings > article > form > input[type='file'] {
    display: none;
}

.settings > article > form > label {
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    background-color: #ADD8E6;
    transition: .5s all;
}

.settings > article > form > label:hover {
    background-color: #7ccce7;
}

.settings > article > form > button {
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    background-color: #ADD8E6;
    transition: .5s all;
    border: 0;
}

.settings > article > form > button:hover {
    background-color: #7ccce7;
}

.settings > article > .line {
    width: 100%;
    height: 2.5px;
    background-color: #ADD8E6;
}

.settings > article > a {
    width: 80%;
    font-size: 18px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s all;
}

.settings > article > a:hover {
    background-color: rgb(204, 0, 0);
}

.settings > aside {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings > aside > form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.settings > aside > form > label {
    font-size: 18px;
    letter-spacing: 1.5px;
}

.settings > aside > form > input {
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: #7ccce7 2px solid;
    padding: 10px;
    box-sizing: border-box;
}

.settings > aside > form > button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    color: white;
    background-color: #ADD8E6;
    transition: .5s all;
    border: 0;
    font-size: 16px;
}

.settings > aside > form > button:hover {
    background-color: #7ccce7;
}

@media only screen and (max-width: 800px) {

    .settings {
        width: 90%;
        gap: 10px;
        flex-direction: column;
        height: 1000px;
    }

    .settings > .line {
        height: 2.5px;
        width: 100%;
        border-radius: 5px;
        background-color: #ADD8E6;
    }

}