body {
    background-color: white;
    position: relative;
    font-family: "Playfair Display", serif;
}

#wrapper {
    display: flex;
    flex-direction: row;

}

#headerdiv {
    flex-grow: 1;
    height: 500px;
    margin-left: 70px;
}


#sectiondiv {
    width: 1200px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-top: 100px;
    margin-right: 600px;

}

section {
    margin-right: 300px;
}

#footerdiv {
    width: 100px;
}

img {
    padding: 150px;
    margin-top: 10px;
    margin-right: 50px;
    width: 850px;
    border-radius: 100%;
    box-shadow: 5px 5px lightblue;
}

h1 {
    font-size: 90px;
    height: 150px;
}

h2 {
    font-size: 40px;
    height: 20px;
    padding-top: 40px;
}

h1,
h2 {
    margin-left: 120px;
}

#alternativ { 
    margin-left: 67px;
    margin-top: 30px;
}

#eller {
    padding: 20px;
    padding-right: 30px;

}

#ellersträck {
    display: flex;
    margin-right: 170px;
    margin-left: 170px;
}


.side-div {
    position: relative;
    width: 200px;
    margin-right: 10px;
    overflow: hidden;
    color: white;

}

.side-div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(200, 200, 200) 0%, rgb(175, 194, 198) 90%);
}

#Rubrikerna {
    padding-bottom: 30px;
    margin-left: 55px;

}

#footerdiv {
    position: fixed;
    bottom: 0;
    width: 80%;
    color: gray;
    font-size: 20px;
    text-align: center;
    z-index: 999;
    word-spacing: 10px;
    margin: 20px;
    margin-left: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#policy {
    width: 550px;
    text-align: center;
    margin-left: 140px;
}


.btn { 
    border: solid black;
    border-radius: 15px;
    border-width: 1px;
    text-align: center;
    font-size: larger;
    box-shadow: 5px 5px lightblue;
    width: 630px;
    overflow: hidden; 
    position: relative; 
    font-family: "Playfair Display";
    background-color: white;
    height: 55px;
    margin-left: 100px;

}

.btn:hover {
    scale: 1.1;
}

.btn::after{
    content: '';
    background: lightblue;
    width: 0;
    position: absolute;
    inset: 0;
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1); 
    z-index: -1;    
    border-radius: 15px;
}

.btn:hover::after {
    width: 100%;
}
